body {
  overflow-x: hidden; }

#ScrollTop {
  background-color: transparent;
  display: none;
  position: fixed;
  z-index: 1030;
  bottom: 20px;
  right: 20px;
  width: 70px; }
  #ScrollTop svg path {
    fill: #00ff7e; }

.icon-media {
  position: absolute !important;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.bg-dark-translucid {
  background-color: rgba(0, 0, 0, 0.8); }

.col-form-label.h4 {
  font-size: 1.75rem;
  line-height: 1.2; }

.h-50px {
  height: 50px; }
