/*
======================================================================================================================
Post Video
======================================================================================================================
*/
.addComments textarea {
  min-height: 20vh; }
  .addComments textarea:focus {
    outline-color: rgba(0, 255, 126, 0.75);
    outline-style: auto;
    outline-width: 1px; }
